<div class="container main mt-5">
	<div class="row">
		<div class="col-md-4 mt-3">
			<div class="row">
				<div class="col-md-9">
            		<h1><strong>Dashboard</strong></h1>
            	</div>
			</div>
            <hr>
			<div class="media">
				<div class="img m-2">
            		<%= image_tag current_user.image.url, id: :img_tumb2%>
            	</div>
				<div class="media-body m-2">
            		<h2><strong><%= link_to current_user.name, user_url(current_user) %></strong></h2>
					<h4>@<%= current_user.department %></h4><hr>
					<h3><%= link_to "#{current_user.answers.count} Words Learned", progress_path %></h3>
					<h4>(in <%= current_user.lessons.count %> Categories)</h4>
				</div>
			</div>
			<hr>
			<p class="pull-left"><%= link_to progress_path do%>Go to Leaned Words 
				<i class="fa fa-arrow-circle-o-right"></i><% end %></p>
		</div>

        <div class="col-md-1"></div>
		<div class="col-md-7 mb-5">
			<div class="container balloon1-left">
				<h2 class="mt-2"><i class="fa fa-book"></i><strong>Recent Activity</strong></h2>
				<hr>
				<% if @activities.any? %>
					<%= render @activities %>
				<% else %>
					<h2 class="ml-5">No activity. </h2>
				<% end %>
				</div>
			</div>
		</div>
	</div>
</div>