<div class="container main">
	<div class="row">
		<div class="col-md-8 mt-3 mb-3">
            <h2><strong>Users List</strong></h2>
        </div>
	    <div class="col-md-4 mt-4 mb-3">
	    	<% if current_user.admin? %>
        	<h5 class="pull-right"><i class="fa fa-arrow-circle-o-left"></i><%= link_to admin_users_path do%>Change Admin's Members List<% end %></h5>
        	<% end %>
        </div>
    </div>
	<div class="row">
		<div class="col-md-12 center-block">
    		<table class="table table-striped table-responsive mb-5">
		    	<thead>
		    		<th class="name">Name</th>
		    		<th>Biography</th>
					<th>Department</th>
		    	</thead>
				<% @users.each do |user| %>
			    	<tbody>
			    		<td>
							<div class="media">
								<div class="img m-2">
			    					<%= image_tag user.image.url, id: :img_prev2%>
			                	</div>
							<div class="media-body m-2">
			    			<h5><%= link_to user.name, user_url(user) %></h5></div></td>
			    		<td class="biography"><h5><%= user.biography %></h5></td>
						<td><h5><%= user.department %></h5></td>		  		
			    	</tbody>
		    	<% end %>
			</table>
	<div class="pagenate"><%= will_paginate @lesson_answers%></div>
	</div>
	</div>
</div>