<div class="container-fluid main">
	<div class="row">
		<div class="col-md-1 center-block"></div>
		<div class="col-md-3 center-block">
			<div class="row">
				<div class="col-md-9 center-block">
            		<h2><strong>Profile</strong></h2>
            	</div>
            	<div class="col-md-2 center-block">
            		<% if current_user?(@user)%>
            		<%= button_to "Edit", edit_user_path(@user), 
					class: "btn btn-info btn-lg" %>
					<% else %>
					<% end %>
				</div>
			</div>
            <hr>
			<div class="row">
				<div class="col-md-1 center-block"></div>
				<div class="col-md-11 center-block">
            	<%= image_tag @user.image.url, id: :img_prev%>
            	<h3><%= @user.name %></h3>
				<p><%= @user.email %></p>
				<p><%= @user.biography %></p>
				<p>@<%= @user.department %></p>

			<div class="row">
				<div class="col-md-6 center-block">
				<h5><%= @user.followers.count %> followers</h5>
				</div>
				<div class="col-md-6 center-block">
				<h5><%= @user.followed.count %> following</h5>
				</div>
			</div>
				<% if  current_user != @user %>
					<% if current_user.following?(@user) %>
					<%= button_to "Unfollow", current_user.relationship(@user), method: :delete,
							class: "btn btn-primary btn-block" %>
					<% else %>
					<%= button_to "Follow", relationships_path, 
							params: {followed_id: @user.id}, 
							class: "btn btn-success btn-block" %>
					<% end %>
				<% end %>
				</div>
			</div>
        </div>
        <div class="col-md-1"></div>
		<div class="col-md-6">
			<div class="container balloon1-left">
				<h3><i class="fa fa-book"></i><strong><%=@user.name%>'s Activity</strong></h3>
				<hr>
				<div class="row">
					<div class="col-md-2">
						<div class="img">
						<%= image_tag @user.image.url, id: :img_tumb%>
						</div>
					</div>
					<div class="col-md-10">
						<p class="activity-text">You learned 10/20 words in Category#</p>
						<small class="text-muted">Posted # ago</small>
						</div>
					</div>
				</div>
			</div>
		 <div class="col-md-1"></div>
		</div>
	</div>
</div>