<div class="container main mt-5">
	<div class="row">
		<div class="col-md-3 mt-3">
			<div class="row">
				<div class="col-md-8">
            		<h1><strong>Profile</strong></h1>
            	</div>
            	<div class="col-md-4">
            		<% if current_user?(@user)%>
            		<%= button_to "Edit", edit_user_path(@user), 
					class: "btn btn-info btn-lg pull-right" %>
					<% end %>
				</div>
			</div>
            <hr>
			<div class="row">
				<div class="col-md-12 center-block mb-5">
            		<%= image_tag @user.image.url, id: :img_prev%>
            	<h1 class="mt-2"><strong><%= @user.name %></strong>
            		<small>[@<%= @user.department %>]</small></h1>
				<h4><i class="fa fa-envelope" aria-hidden="true"></i><%= @user.email %></h4>
					<small class="text-success"><%= @user.biography %></small>

			<div class="row">
				<div class="col-md-6 center-block mt-2 mb-1">
					<h3><%= @user.followers.count %> followers</h3>
				</div>
				<div class="col-md-6 center-block mt-2 mb-1">
					<h3><%= @user.followed.count %> following</h3>
				</div>
			</div>
				<% if  current_user != @user %>
					<% if current_user.following?(@user) %>
					<%= button_to "Unfollow", current_user.relationship(@user), method: :delete,
							class: "btn btn-primary btn-block" %>
					<% else %>
					<%= button_to "Follow", relationships_path, 
							params: {followed_id: @user.id}, 
							class: "btn btn-success btn-block" %>
					<% end %>
				<% end %>
				</div>
			</div>
        </div>
        <div class="col-md-2"></div>
		<div class="col-md-7 mb-5">
			<div class="container balloon1-left mb-5">
				<h2 class="mt-2"><i class="fa fa-book"></i><strong>Recent Activity</strong></h2>
				<hr>
				<% if @activities.any? %>
					<%= render @activities %>
				<% else %>
					<h2 class="ml-5">No activity. </h2>
				<% end %>
			</div>
		</div>
		</div>
	</div>
</div>