<div class="container main">
	<div class="row">
		<div class="col-md-3 mt-3 mb-3">
            <h2><strong>Categories: Admin</strong></h2>
        </div>
		<div class="col-md-2 mt-3 mb-3">
			<%= link_to "Add New Category",  new_admin_category_path,
			class: "btn btn-info btn-lg" %>
        </div>
    </div>
	<div class="row">
		<div class="col-md-12 center-block mb-5">
			<% if flash[:success] %>
			    <div class="alert alert-info">
	                <ul class="m-0">
						<li><%= flash[:success]  %></li>
					</ul>
				</div>
			<% end %>

    		<table class="table table-striped table-responsive">
		    	<thead>
		    		<th style="width: 450px;">Title</th>
		    		<th style="width: 800px;">Description</th>
					<th>Action</th>
		    	</thead>
				<% @categories.each do |category| %>
			    	<tbody>
			    		<td style="width: 450px;">
			    			<h4>
								<%= link_to admin_category_words_path(category_id: category.id)  do%>
			    				<%= category.title %>
			    				<% end %>    					
			    			</h4>
			    		</td>
			    		<td style="width: 800px;"><h5><%= category.description %></h5></td>
						<td>
							<h5 class="block">
								<%= link_to  new_admin_category_word_path(category_id: category.id)  do%><i class="fa fa-plus-circle"></i>New Word<% end %></h5>
							<h5>
								<%= link_to  edit_admin_category_path(category)  do%><i class="fa fa-pencil"></i>Edit Category<% end %></h5>
							<h5>
								<%= link_to  admin_category_path(category.id), method: :delete  do%><i class="fa fa-times-circle"></i>Del. Category<% end %></h5>
						</td>	
			    	</tbody>
			    <% end %>
			</table>
			<div class="pagenate"><%= will_paginate %></div>
		</div>
	</div>
</div>