<div class="container main">
	<div class="row">
		<div class="col-md-12 mt-3">
            		<h2><strong>Lessons</strong></h2>

		<div class="container">
			<div class="row">			
				<% @categories.each do |category| %>

				<div class="col-md-4 mb-3 mt-3">
					<div class="<%= category.words.any? ? "lesson-box" : "lesson-box-prep" %>">
			   			<h4><strong><%= category.title %></strong></h4>
			   			<p>[Difficulty: 
				    	<span class='star-rating' data-score="<%= category.difficulty %>"></span>]</p><hr>

				    		<script>
							$('.star-rating').raty({
								readOnly: true,
								path: '/assets/',
								click: function(score, e) {
								$("#difficulty_rating").val(score)
								}
							});
							</script>
					    <h5 class="mb-3"><%= category.description %></h5>

						<div class="text-center">
						    <% if category.words.empty? %>
							    <h3><strong>Comming Soon !</strong></h3>
						    <% elsif @lesson.pluck(:category_id).any?(category.id) %>
								<% @lesson_test = @lesson.find_by(category_id: category.id) %>
							    	<%= link_to "Review Words", category_lesson_answers_path(category_id: category.id, lesson_id: @lesson_test.id), class: "btn btn-warning btn-lg" %>
						    <% else %>
						    	<%= link_to "Let's Start !",  category_lessons_path(category_id: category.id), method: :post, class: "btn btn-primary btn-lg" %>
						    <% end %>
						</div>
					</div>
				</div>
			<% end %>
		</div>
	</div>

	<div class="row">
		<div class="col-md-5 center-block mt-3">
			<div class="pagenate mb-5"><%= will_paginate %></div>
		</div>
	</div>
</div>