<div class="container main mt-5">
	<div class="row">
		<div class="col-md-8">
	        <h1><strong>Admin: Members List</strong></h1>
	    </div>
	    <div class="col-md-4">
        	<h3 class="pull-right mt-3"><%= link_to users_path do%>Change User's Members List <i class="fa fa-arrow-circle-o-right"></i><% end %></h3>
        </div>
    </div>
	<div class="row mb-5">
		<div class="col-md-12 mb-5">
    		<table class="table table-striped table-responsive mb-5">
		    	<thead>
		    		<th>Name</th>
		    		<th style="width: 240px;"></th>
		    		<th style="width: 500px;">Biography</th>
					<th style="width: 130px;">Department</th>
					<th style="width: 160px;">Admin / Grant Auth.</th>
		    	</thead>
				<% @users.each do |user| %>
			    	<tbody>
			    		<td>
							<div class="img m-2">
			    			<%= image_tag user.image.url, id: :img_prev2%>
			                </div>
			            </td>
			            <td class="align-middle" style="width: 240px;"><h2><%= link_to user.name, user_url(user) %></h2></td>
			    		<td class="align-middle" style="width: 500px;"><h3><%= user.biography %></h3></td>
						<td class="align-middle" style="width: 130px;"><h3><%= user.department %></h3></td>
						<td class="align-middle" style="width: 160px;">
							<% if user.super_admin? %>
								<small><i class="fa fa-key ml-4"></i></small>
							<% elsif user.admin? %>
								<small><i class="fa fa-key ml-4 mr-5"></i>
								<%= link_to "Deactivate", admin_user_path(user), class: "btn btn-outline-dark", method: :delete %></small>
							<% else %>
								<small><i class="fa fa-key ml-4 mr-5 text-muted"></i>
								<%= link_to "Activate", admin_user_path(user), class: "btn btn-outline-info", method: :patch%></small>
							<% end %>
						</td>			
			    	</tbody>
		    	<% end %>
			</table>
			<% if @users.empty? %>
				<div class="alert alert-info">
					<h1 class="ml-5 mr-5">Users has not been registered yet. </h1>
				</div>
			<% end %>
			<%= will_paginate @lesson_answers, renderer: BootstrapPagination::Rails, class: 'pagination-sm' %>
		</div>
	</div>
</div>