<%= form_for :session, url: login_path do |f| %>
    <table>
        <tr>
            <td>
              <div class="form-group">
               <%= f.label :email %>
               <%= f.email_field :email, class: "form-control" %>
              </div>
            </td>
                            
            <td>
              <div class="form-group">
                <%= f.label :password %>
                <%= f.password_field :password, class: "form-control" %>
              </div>                              
            </td>

            <td class="login">
                <%= f.submit "Login", class: "btn btn-success" %>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><a href="#">Forgot account?</a></td>
            <td></td>
        </tr>
    </table>
        <% if login_error = flash[:login] %>
      <div class="row">
          <div class="col-md-9">
            <div class="alert alert-danger">
              <%= login_error %>          
            </div>
      </div>
    <% end %>
<% end %>