<div class="jumbotron jumbotron-fluid text-white mb-0" 
   style="background: url(<%= asset_path "top-image1.jpg" %>); background-size:cover;">

      <div class="row">
        <div class="col-md-7 pl-5">
          <%= link_to "Framgia E-Learning", root_path, class: "logo" %>
        </div>
        <div class="col-md-5">
          <%= form_for :session, url: login_path do |f| %>
              <table class="ml-5">
                  <tr>
                      <td>
                        <div class="form-group">
                         <%= f.label :email %>
                         <%= f.email_field :email, class: "form-control" %>
                        </div>
                      </td>
                                      
                      <td>
                        <div class="form-group">
                          <%= f.label :password %>
                          <%= f.password_field :password, class: "form-control" %>
                        </div>                              
                      </td>

                      <td class="login">
                          <%= f.submit "Login", class: "btn btn-success" %>
                      </td>
                  </tr>
                  <tr>
                      <td></td>
                      <td><a href="#">Forgot account?</a></td>
                      <td></td>
                  </tr>
              </table>
          <% end %>
      </div>
    </div>
  </div>
</div>